In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('table.csv', header=0)
print(df)

             okashi  price           purchase_at
0  umaibou-norishio     12  2022-10-10T04:50:33Z
1    umaibou-mentai     12  2022-10-10T07:00:18Z
2    umaibou-mentai     12  2022-10-10T20:34:46Z
3           bacchus    228  2022-10-11T05:30:46Z
4           yocchan     50  2022-10-11T19:20:23Z
5          jagariko     98  2022-10-15T10:45:10Z

In [3]:
df.dtypes

okashi         object
price           int64
purchase_at    object
dtype: object

In [4]:
df["purchase_at"] = pd.to_datetime(df["purchase_at"])
df.dtypes

okashi                      object
price                        int64
purchase_at    datetime64[ns, UTC]
dtype: object

In [5]:
df[['purchase_at', 'price']].groupby(pd.Grouper(key="purchase_at", freq="D")).sum()

                           price
purchase_at
2022-10-10 00:00:00+00:00     36
2022-10-11 00:00:00+00:00    278
2022-10-12 00:00:00+00:00      0
2022-10-13 00:00:00+00:00      0
2022-10-14 00:00:00+00:00      0
2022-10-15 00:00:00+00:00     98

In [6]:
df[['purchase_at', 'price']].groupby(pd.Grouper(key="purchase_at", freq="W")).sum()

                           price
purchase_at
2022-10-16 00:00:00+00:00    412

In [7]:
df[['purchase_at', 'price']].groupby(pd.Grouper(key="purchase_at", freq="D")).mean()

                           price
purchase_at
2022-10-10 00:00:00+00:00   12.0
2022-10-11 00:00:00+00:00  139.0
2022-10-12 00:00:00+00:00    NaN
2022-10-13 00:00:00+00:00    NaN
2022-10-14 00:00:00+00:00    NaN
2022-10-15 00:00:00+00:00   98.0

In [8]:
df.groupby(pd.Grouper(key="purchase_at", freq="D")).count()

                           okashi  price
purchase_at
2022-10-10 00:00:00+00:00       3      3
2022-10-11 00:00:00+00:00       2      2
2022-10-12 00:00:00+00:00       0      0
2022-10-13 00:00:00+00:00       0      0
2022-10-14 00:00:00+00:00       0      0
2022-10-15 00:00:00+00:00       1      1

In [9]:
df.groupby(pd.Grouper(key="purchase_at", freq="D"))['okashi'].nunique()

purchase_at
2022-10-10 00:00:00+00:00    2
2022-10-11 00:00:00+00:00    2
2022-10-12 00:00:00+00:00    0
2022-10-13 00:00:00+00:00    0
2022-10-14 00:00:00+00:00    0
2022-10-15 00:00:00+00:00    1
Freq: D, Name: okashi, dtype: int64

In [10]:
df.groupby(pd.Grouper(key="purchase_at", freq="D")).agg({'okashi': pd.Series.nunique})

                           okashi
purchase_at
2022-10-10 00:00:00+00:00       2
2022-10-11 00:00:00+00:00       2
2022-10-12 00:00:00+00:00       0
2022-10-13 00:00:00+00:00       0
2022-10-14 00:00:00+00:00       0
2022-10-15 00:00:00+00:00       1

In [11]:
d_dict = df.to_dict(orient='dict')
d_dict

{'okashi': {0: 'umaibou-norishio',
  1: 'umaibou-mentai',
  2: 'umaibou-mentai',
  3: 'bacchus',
  4: 'yocchan',
  5: 'jagariko'},
 'price': {0: 12, 1: 12, 2: 12, 3: 228, 4: 50, 5: 98},
 'purchase_at': {0: Timestamp('2022-10-10 04:50:33+0000', tz='UTC'),
  1: Timestamp('2022-10-10 07:00:18+0000', tz='UTC'),
  2: Timestamp('2022-10-10 20:34:46+0000', tz='UTC'),
  3: Timestamp('2022-10-11 05:30:46+0000', tz='UTC'),
  4: Timestamp('2022-10-11 19:20:23+0000', tz='UTC'),
  5: Timestamp('2022-10-15 10:45:10+0000', tz='UTC')}}

In [12]:
d_dict = df.to_dict(orient='records')
d_dict

[{'okashi': 'umaibou-norishio',
  'price': 12,
  'purchase_at': Timestamp('2022-10-10 04:50:33+0000', tz='UTC')},
 {'okashi': 'umaibou-mentai',
  'price': 12,
  'purchase_at': Timestamp('2022-10-10 07:00:18+0000', tz='UTC')},
 {'okashi': 'umaibou-mentai',
  'price': 12,
  'purchase_at': Timestamp('2022-10-10 20:34:46+0000', tz='UTC')},
 {'okashi': 'bacchus',
  'price': 228,
  'purchase_at': Timestamp('2022-10-11 05:30:46+0000', tz='UTC')},
 {'okashi': 'yocchan',
  'price': 50,
  'purchase_at': Timestamp('2022-10-11 19:20:23+0000', tz='UTC')},
 {'okashi': 'jagariko',
  'price': 98,
  'purchase_at': Timestamp('2022-10-15 10:45:10+0000', tz='UTC')}]

In [13]:
df["purchase_at"] = df['purchase_at'].dt.strftime('%Y-%m-%dT%H:%m:%s')
d_dict = df.to_dict(orient='records')
d_dict

[{'okashi': 'umaibou-norishio',
  'price': 12,
  'purchase_at': '2022-10-10 04:50:33+00:00'},
 {'okashi': 'umaibou-mentai',
  'price': 12,
  'purchase_at': '2022-10-10 07:00:18+00:00'},
 {'okashi': 'umaibou-mentai',
  'price': 12,
  'purchase_at': '2022-10-10 20:34:46+00:00'},
 {'okashi': 'bacchus',
  'price': 228,
  'purchase_at': '2022-10-11 05:30:46+00:00'},
 {'okashi': 'yocchan',
  'price': 50,
  'purchase_at': '2022-10-11 19:20:23+00:00'},
 {'okashi': 'jagariko',
  'price': 98,
  'purchase_at': '2022-10-15 10:45:10+00:00'}]